.activity-list {
  color: #405479;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.head {

}

.messages_section {
  display: grid;
  grid-template-columns: 200px 20px auto;
  gap: 20px;
}

.left-column {
  grid-area: left-column;
  grid-column: 1 / 2;
}

.vertical-line {
  grid-area: vertical-line;
  grid-column: 2 / 3;
  width: 2px;
  height: 100px;
  background-color: #405479;
  margin: 10px;

}

.right-column {
  grid-area: right-column;
  grid-column: 3 / 4;
  font-size: 0.9em;
}

