.header {
    font-size: 26px;
    font-weight: 400;
    font-family: "Arial", sans-serif;
    grid-area: header;
    height: 45px;
    display: flex;
    padding-left: 50px;
    z-index: 100;
    color: #405479;
    padding-top: 30px;
    /*text-align: left;*/
}

.header > * {
    text-align: left;
}