.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d1f2d;
  color: white;
  font-weight: bold;
  z-index: 20;
}
