.chart-wrapper {
    width: fit-content; /* Ширина будет подстраиваться под содержимое */ /* Не превышать ширину родительского контейнера */
    margin: 0 auto; /* Центрирование */
    padding: 10px; /* Пространство вокруг компонента */
}
