.activeMenu {
    background-color: #F0F3FB; /* Цвет фона при активном состоянии */
}


/*.logo {*/
/*    !*font-size: 3rem;*!*/
/*    !*font-size: 10%;*!*/
/*}*/

/*.bars {*/
/*    display: flex;*/
/*    font-size: 2rem;*/
/*    margin-left: 3rem;*/
/*}*/

.link {
    display: flex;
    color: #405479;
    padding: 1rem 1.5rem;
    gap: 2rem;
    transition: all 0.3s;
    /*width: 300px;*/
    width: 100%
}

.active {
    background: #5471E7;
    color: #FFFFFF;
}

.icon, .link_text {
    font-size: 2.5rem;
}


.sidebar {
    box-shadow: 1rem 0 2rem rgba(55, 99, 221, 0.2);
    background: #FFFFFF;
    color: #405479;
    height: 100%;
    /*width: 300px;*/
    /*width: 40%;*/
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    /*padding-top: 0.5rem;*/
    transition: all 0.3s ease;
}

.submenu {
    color: #405479;
}

.submenu_link {
    display: flex;
    color: #405479;
    /*padding: 0.7rem 1.5rem;*/
    justify-content: center;
    gap: 2rem;
    transition: all 0.3s;
}

.top_section {
    display: flex;
    /*align-items: center;*/
    padding: 2rem 1rem;
}

.submenu_link_active {
    background: #5471E7;
    color: #FFFFFF;
}

.submenu_icon, .submenu_link_text {
    font-size: 4rem;
}

.link:not(.active):hover, .submenu_link:not(.submenu_link_active):hover {
    background: #CED6F7; /* Цвет фона при наведении только для неактивных ссылок */
}