.video_interactions {
    color: #405479;
    font-size: 20px;
    font-weight: 400;
    height: 80vh;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-area: video_interactions;
    border-radius: 3px;
    vertical-align: top;
    justify-content: center;
    z-index: 100;
}

.video_interactions_container {
    display: flex;
    justify-content: center;
}

.item_video_1 {
    margin-right: 20px;
}
