.custom_container {
    display: flex;
    justify-content: center;
}

.custom_container > * {
    margin: 0.8rem; /* Отступ между элементами */
}

.boxes {
    text-align: center;
}

.upper-box {
    margin-bottom: 1rem;
}

.lower-box {

}

.activity_section {
    width: 35rem;
}