.content {
    margin-left: 30px;
    margin-right: 30px;
}

.wrapper {
    padding-block: 4rem;
}

/* .spikes { */

/*    --spike-width: 100%; */

/*    --spike-height: 50px; */

/*    --spike-color: var(--body-bg); */

/*    position: relative; */

/*    color: black; */

/*    background: #5471E7; */

/* } */

/* .spikes::before, */

/* .spikes::after { */

/*    content: ''; */

/*    position: absolute; */

/*    width: 100%; */

/*    height: var(--spike-height); */

/*    mask-size: var(--spike-width) var(--spike-height); */

/*    background: var(--spike-color); */

/*    mask-image: url('../../images/footer.svg'); */

/*    z-index: -100; */

/* } */

/* .spikes::before { */

/*    top: 0; */

/* } */

/* .spikes::after { */

/*    bottom: 0; */

/*    transform: rotate(.5turn); */

/* } */