.content {
    margin-left: 30px;
    margin-right: 30px;
}

.layout {
    background: #F0F3FB;
    z-index: -300;
    width: 100vw;
}

.bg_image2 {
    background-size: 100%;
    background-image: url('../../images/polygon.svg');
    /*background-color: #1b6d85;*/
    min-width: 1420px;
    background-repeat: no-repeat;
    z-index: -100;
}

.bg_image {
    background-image: url('../../images/polygon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Это свойство позволит заполнить всю область заднего фона, сохраняя пропорции */
    width: 100%; /* Фиксированная ширина */
    /* height: 100%; */
    top: 100px;
    left: 0;
    z-index: -100;
}


:root {
    --body-bg: #F0F3FB;
}

.wrapper {
    /* margin-left: 50px;
    margin-right: 50px; */
    padding-block: 6rem;
}

.spikes {
    --spike-width: 100%;
    --spike-height: 50px;

    --spike-color: var(--body-bg);
    position: relative;
    color: black;
    background: #5471E7;
}

.spikes::before,
.spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    mask-size: var(--spike-width) var(--spike-height);
    background: var(--spike-color);
    mask-image: url('../../images/footer.svg');
}

.spikes::before {
    top: 0;
}

.spikes::after {
    bottom: 0;
    transform: rotate(.5turn);
}