.student_page {
    z-index: -100;
    width: 100%;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content_inside {
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #5471E7; /* Задайте желаемый цвет фона футера */
    color: #fff; /* Цвет текста внутри футера */
    padding: 20px; /* Отступы внутри футера */
    text-align: center; /* Выравнивание содержимого по центру */
    position: fixed; /* Фиксированное позиционирование, если требуется */
    left: 0; /* Выравнивание слева */
    bottom: 0; /* Выравнивание внизу */
    width: 100%; /* Ширина футера на всю ширину страницы */
    height: 50px;
    mask-image: url('../components/PageBase/svg-path.svg');
    transform: rotate(.5turn);
}