.page-base {
  /*background: rgb(174, 201, 254, .5);*/
  z-index: -50;
}

.content {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}
