.top_analytics{
    color: #405479;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    grid-area: top_analytics;
    /*background-color: #F0F3FB;*/
    /*background-color: #1A01CC;*/
    height: 153px;
    display: flex;
    /*flex-wrap: wrap;*/
    border-color: #667B98;
    /*align-items: center;*/
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
}

.top_analytics > * {
    margin-right: 20px; /* Отступ между элементами */
}

/*.top_analytics > div {*/

/*.video_interactions > * {*/
/*    flex: 1 1 50%; !* Две части в одной строке, каждый элемент занимает 50% ширины *!*/
/*    margin: 5px; !* Отступы между графиками *!*/
/*    max-width: calc(50% - 10px); !* Максимальная ширина элемента *!*/
/*    min-width: 300px; !* Минимальная ширина элемента, чтобы избежать слишком сжатого контента *!*/
/*    box-sizing: border-box; !* Учитывать padding и border в расчете ширины *!*/
/*} !* Опциональный отступ между компонентами *!*/
/*}*/

.container {
  display: flex;
  justify-content: center;
}

.main-box {
  width: 400px;
  height: 200px;
  /*background-color: blue;*/
}

.side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0px;
}

.side-box-up {
  width: 200px; /* Учитывая 2px за border */
  /*height: 94px; !* 100px - 6px (border) *!*/
  /*background-color: blue;*/
  /*border: 1px solid blue;*/
  margin-bottom: 5px;
}

.side-box-down {
  width: 200px; /* Учитывая 2px за border */
  /*height: 94px; !* 100px - 6px (border) *!*/
  /*background-color: blue;*/
  /*border: 1px solid blue;*/
  margin-top: 5px;
}
