.modal-window-content {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
}

.boxes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px; /* Отступ между контейнерами */

}

.one-box {
    width: 240px; /* Ширина для боксов */
}

