.page-base {
    background: #F0F3FB;
    z-index: -300;
}

.content {
    padding-left: 5rem;
    padding-right: 2rem;
    z-index: 100;
}

.fullscreen {
    width: 100vw;
}

.footer {
    background-color: #5471E7;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100px;
    mask-image: url('../../images/footer2.svg');
    z-index: -100;
}