.page-base {
  background: #F0F3FB;
  z-index: -300;
}

.app-name {
  padding-left: 40px;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

.fullscreen {
  /*height: 100vh;*/
  width: 100vw;
}

.bg_image {
    /*outline: 2px solid black;*/
    background-size: 100%;
    height: 880px;
    background-image: url('./Rectangle.svg');
    /*background-color: #1b6d85;*/
    background-repeat: no-repeat;
    z-index: -100;
}


/*.bg_image {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    line-height: 0;*/
/*    transform: rotate(180deg);*/
/*}*/

/*.bg_image svg {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: calc(100% + 1.3px);*/
/*    height: 1080px;*/
/*}*/

/*.bg_image .shape-fill {*/
/*    fill: #1b6d85;*/
/*}*/


/*.custom_container{*/
/*    width: 100vw; !* Занимает всю ширину экрана *!*/
/*    height: 80vh; !* Занимает всю высоту экрана *!*/
/*    background-image: url('./Rectangle.svg');*/
/*    !*background-size: 100% auto; !* Изображение растягивается или сжимается, чтобы полностью покрыть контейнер *!*!*/
/*    background-size: contain;*/
/*    background-position: center; !* Позиционировать изображение по центру контейнера *!*/
/*    !*background-repeat: repeat-x; !* Запретить повторение изображения *!*!*!*/
/*    background-repeat: repeat-x;*/
/*    z-index: -100;*/
/*}*/


/*------------------------------*/
/*.custom_container {*/
/*    z-index: -100;*/
/*    !*!*position: relative; !* Чтобы элементы внутри него позиционировались относительно этого контейнера *!*!*!*/
/*    !*position: fixed;*!*/
/*    width: 100vw; !* Занимает всю ширину экрана *!*/
/*    height: 80vh; !* Занимает 80% высоты экрана *!*/
/*    overflow: hidden; !* Скрыть части изображения, которые выходят за границы контейнера *!*/
/*}*/

/*.custom_container img {*/
/*    width: 100%; !* Растягиваем изображение на всю ширину контейнера *!*/
/*    height: auto; !* Сохраняем пропорции изображения *!*/
/*}*/
/*-------------------------------*/
/*.custom_container {*/
/*     !* Убираем отступы *!*/
/*    !* Убираем внутренние отступы *!*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    background-image: url('./Rectangle.svg'); !* Путь к вашему изображению *!*/
/*    background-size: contain; !* Растягиваем изображение на всю ширину окна *!*/
/*    background-repeat: no-repeat; !* Отключаем повторение изображения *!*/
/*    background-position: center top; !* Размещаем изображение по центру вверху *!*/
/*}*/

